.idea
node_modules
*/node_modules
/authorization-service/package-lock.json
/product-service/package-lock.json
/import-service/package-lock.json
/authorization-service/.env
/product-service/.env
/import-service/.env
